a{
  color: white;
  text-decoration: none;
}

a:hover {
  color: white ;
  background-color: #dea5a4 ;
}

h1 {
  font-family: "Helvetica";
  font-style: oblique;
  font-size: 3vw;
  color:white;
  position: fixed;
  top: 35%;
  left: 45%;
}

.nav {
  font-family: monospace;
  text-decoration: none;
  text-align: right;
  line-height: 1.5;
  font-size: 1.25vw;
  color:#967bb6;
  position: fixed;
  top: 2%;
  right: 1%;
  width: 100%;
}

body {
  background: #dea5a4
}
