h1 {
  font-family: "Helvetica";
  font-style: oblique;
  color:#967bb6
}

body {
  font-size: 69px;
  background: #dea5a4
}

.sassy{
  font-family: monospace;
  text-decoration: none;
  color: white;


}
