body {
  background-color: #ffff00;
}

.strikes {
  font-family: "Helvetica";
  font-style: oblique;
  font-weight: bold;
  font-size: 4vw;
  position: fixed;
  top: 35%;
  left: 25%;
  color: #808080;
}

.good {
  font-family: "Helvetica";
  font-style: oblique;
  font-weight: bold;
  font-size: 4vw;
  position: fixed;
  top: 45%;
  left: 25%;
}
